#Base framework
flask
#SQLAlchemy extensions for flask and handling db migration on schema change
flask-sqlalchemy
sqlalchemy-migrate
#Form input handling and validation
flask-wtf
#Manage user login state
flask-login
#Manage openid authorisation
flask-openid
#More advanced http functionality
httplib2
#Use the excellent requests module
requests
